<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Cirrious.FluentLayout" version="2.9.0" targetFramework="xamarinios10" />
  <package id="Cirrious.FluentLayout.Extensions" version="0.0.1" targetFramework="xamarinios10" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.0.0" targetFramework="xamarinios10" />
  <package id="Microsoft.Extensions.Logging" version="2.0.0" targetFramework="xamarinios10" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="5.0.0" targetFramework="xamarinios10" />
  <package id="Microsoft.Extensions.Options" version="2.0.0" targetFramework="xamarinios10" />
  <package id="Microsoft.Extensions.Primitives" version="2.0.0" targetFramework="xamarinios10" />
  <package id="MvvmCross" version="8.0.2" targetFramework="xamarinios10" />
  <package id="Mvx.FluentTableView" version="1.0.0" targetFramework="xamarinios10" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="xamarinios10" />
  <package id="Serilog" version="2.11.0-dev-01371" targetFramework="xamarinios10" />
  <package id="Serilog.Extensions.Logging" version="3.1.0" targetFramework="xamarinios10" />
  <package id="Serilog.Sinks.Xamarin" version="0.2.0.64" targetFramework="xamarinios10" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.4.0" targetFramework="xamarinios10" />
  <package id="WebP.Touch" version="1.0.8" targetFramework="xamarinios10" />
  <package id="Xamarin.FFImageLoading" version="2.4.11.982" targetFramework="xamarinios10" />
</packages>